html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html,
body {
  height: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}


/*
   Print styles.
 */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.header {
  flex-shrink: 0;
}

.main {
  flex: 1 0 auto;
}

.footer {
  align-self: flex-end;
  flex-shrink: 0;
  width: 100%;
}

/*
 Advantages
*/
.advantages {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
}

.banner {
  margin: 1rem 0 2rem;
}

.banner-img {
  max-width: 100%;
}
